.certificados{
    font-family: Montserrat, sans-serif;
    background-image: url(../img/Fondo.png);
    width: 100%;
}

.certificados__titulo{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
}

.certificados__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.certificados__box{
    display: flex;
    justify-content: center;
    width: 10rem;
    padding: 2rem;
    margin: 1% 0.5%;
    box-shadow: 0.1rem 0.1rem black;
    border-radius: 1rem;
}

.certificados__img{
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.certificados__name{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: .5rem;
    text-align: center;
}

.certificados__name.certificado{
    font-size: small;
}