.experiencia{
    font-family: Montserrat, sans-serif;
    background: #e2e1e1;
    width: 100%;
}

.experiencia__section__title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
}

.experiencia_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.experiencia__box{
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    width: 20rem;
    padding: 2rem;
    margin: 1% 1.5%;
    box-shadow: 0px 12px 16px -5px rgba(0, 0, 0, 0.50);
    border-radius: 1rem;
}

.experiencia__img{
    display: flex;
    padding-left: 3rem;
}

.cmb{
    width: 50%;
}

.len{
    width: 20%;
}

.encriptador{
    width: 50%;
}

.experiencia__info{
    padding: 1rem;
}

.experiencia__title{
    font-size: 22px;
    font-weight: bold;
    padding: .25rem;
}

.experiencia__text{
    font-size: 20px;
    padding: .25rem;
}

.experiencia__description{
    padding-top: 2rem;
    padding-left: .25rem; 
}

.experiencia__repo{
    color: #4d4d4d;
}

.experiencia__botao--repo{
    width: 10rem;
    height: 3rem;
    font-weight: bold;
    font-size: 15px;
    border-radius: 1rem;
    cursor: pointer;
}

.experiencia__botao--repo:hover{
    background: black;
    color: white;
}

@media screen and (max-width:900px){
    .experiencia_contenedor{
        justify-content: center;
    }
}