.formacion{
    font-family: Montserrat, sans-serif;
    background: #e2e1e1;
    width: 100%;
}

.formacion__titulo{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.formacion__cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.formacion__cursos--box{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    width: 18rem;
    vertical-align: top;
    margin: 2%;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 24px 32px -5px rgba(0, 0, 0, 0.50);
}

.formacion__cursos--item--academia{
    font-weight: bold;
}

.formacion__cursos--item--img{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 2rem 4rem;
}

.formacion__cursos--item--title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: .5rem;
    text-align: center;
}

.formacion__cursos--item--subtitle{
    font-size: small;
}

@media screen and (max-width:900px){
    .formacion__cursos{
        flex-direction: column;
        align-items: center;
    }
}