.header{
    background: #e2e1e1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__encabezado{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.header__nombre{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
}

.header__menu{
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.header__menu--item{
    color: #505050;
    list-style: none;
    padding-left: 1rem;
    text-decoration: none;
}

.header__menu--item:hover{
    text-decoration: underline;
}

.header__menu--item.contacto{
    color: #000000;
}

@media screen and (max-width:900px) {
    .header__imagen{
       width: 40%;
    }

    .header__nombre{
        font-size: 1rem;
    }

    .header__menu--item{
        display: none;
    }

    .header__menu--item.contacto{
        display: flex;
        padding-left: 0.5rem;
        font-size: 0.75rem;
    }
}







