.perfil{
    font-family: Montserrat, sans-serif;
    background: #e2e1e1;
    width: 100%;
}

.perfil__contenedor{
    padding: 2rem;
    align-items: center;
    width: 85%;
    justify-content: center;
}

.perfil__titulo{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.perfil__parrafo{
    text-align: justify;
    padding: 0.5rem;
}